<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>⌽Student Portal⌽</title>
  </head>
  <body>
    <h1>Student Portal</h1>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <h3>Sign up!</h3>
    <form action="/sign_up" method="POST">
      {% csrf_token %}
      <label for="first_name">First name</label>
      <input required type="text" name="first_name" placeholder="First Name" />

      <label for="last_name">Last Name</label>
      <input required type="text" name="last_name" placeholder="Last Name" />

      <button type="submit">Add</button>
    </form>
    <a href="/log_out"></a>
  </body>
</html>
