<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Create a shirt!</h1>
    <form action="/shirts/create" method="post">
      {% csrf_token %}
      <p>
        <label for="color">Color<input type="text" name="color" /></label>
      </p>
      <p>
        <label for="size">Size<input type="text" name="size" /></label>
      </p>
      <p>
        <label for="material"
          >Material<input type="text" name="material"
        /></label>
      </p>
      <button type="submit">Upload!</button>
    </form>
  </body>
</html>
