<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Sign up to our app!</h1>
    <form action="/sign_up" method="POST">
      {% csrf_token %}
      <p>
        <label for="first_name">First Name</label>
        <input required type="text" name="first_name" />
      </p>
      <p>
        <label for="last_name">Last Name</label>
        <input required type="text" name="last_name" />
      </p>
      <p>
        <label for="email">Email</label>
        <input required type="email" name="email" />
      </p>
      <p>
        <label for="social_security_number">Social Security Number</label>
        <input required type="text" name="social_security_number" />
      </p>
      <p>
        <label for="password">Password</label>
        <input required type="password" name="password" />
      </p>
      <p>
        <label for="password_confirm">ConfirmPassword</label>
        <input required type="password" name="password_confirm" />
      </p>
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
